ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_IDENTITY=Apple Development
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=1
DEVELOPMENT_TEAM=PD5QMARB3X
ENABLE_PREVIEWS=YES
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_KEY_CFBundleDisplayName=TuistCloudExample
INFOPLIST_KEY_NSCameraUsageDescription=The camera is required to attach photos to records and to use scan features.
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents=YES
INFOPLIST_KEY_UILaunchScreen_Generation=YES
INFOPLIST_KEY_UIRequiresFullScreen=NO
INFOPLIST_KEY_UISupportedInterfaceOrientations=UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight UIInterfaceOrientationPortrait
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad=UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_NSLocationWhenInUseUsageDescription=We use location data to tag attached photos with their location.
MARKETING_VERSION=0.1
PRODUCT_NAME=KelvinHarron TuistCloudExample
PROVISIONING_PROFILE_SPECIFIER=
SUPPORTED_PLATFORMS=iphoneos iphonesimulator
SUPPORTS_MACCATALYST=NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD=YES
SWIFT_EMIT_LOC_STRINGS=YES

APP_DISPLAY_NAME=TuistCloudExample
ENABLE_TESTABILITY=NO
LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/Frameworks
